#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menus {
  display: flex;
  margin: 0;
  width: 88%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menuButtons {
  display: flex;
  margin: 0;
  padding: 0;
}
.menus button {
  width: 220px;
  font-size: 20px;
  background-color: rgb(46, 122, 46);
  color: white;
  margin-right: 20px;
}

.nav {
  display: flex;
  padding: 0 60px;
  margin: 0;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.operation {
  font-size: 20px;
}

.right-aligned {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 800;
  color: white;
}

main {
  padding: 0;
  margin: 0;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content:center;
  align-items: center;
}
.orange-icon {
  color: orange; 
}

.left-icons {
  width: 40%;
}
.right-icons {
  width: 40%;
}

.blue-icon {
  color: rgb(38, 38, 160);
  width: 40%;
}

.mainpanel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  margin: 0;
  width: 80%;
  overflow: hidden;
  height: 100%;
  background-color: #f0eef6;
  opacity: 0.8;
  border-radius: 10px;
  position: relative;
}

.arrowicon {
  color: rgb(24, 17, 218);
  font-size: 48px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 450px;
  transform: translateY(-50%);
  z-index: 1;
}

.icon-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background-color: white;
}

.orange-button {
  color: orange;
  height: 516px;
  background: radial-gradient(circle, #f9f4f0, #fbb2a6 );
  border: 1px solid orange;
}

.blue-button {
  color: blue;
  width: 33%;
  height: 410px;
  background: radial-gradient(circle, #f0f0f7, rgb(168, 176, 254) );
  border: 1px solid blue;
}

.icon {
  font-size: 24px;
  margin-bottom: 5px;
}
.solar {
  font-size: 20px;
  margin-bottom: 5px;
}
.icon-name {
  display: flex;
}

.left-section {
  width: 30%;
  height: 100%;
  overflow: hidden; 
  padding: 20px 0;
  padding-right: 10px;
  margin-right: 30px;
}

.right-section {
  width: 60%;
  height: 100%;
  overflow: hidden; 
  padding: 20px 0;
  padding-left: 10px;
  margin-left: 30px;
}

.consumers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary {
  color: black;
  font-size: 20px;
}

.summaryData {
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-size: 72px;
  margin-right: 10px;
}

.totalnum {
  font-size: 24px;
  color: blue;
}